# compiled output
/dist
/node_modules
yarn.lock

.env

# gateway
.env.gateway.develop
.env.gateway.staging
.env.gateway.production
.env.gateway.test.local

# storage
.env.storage.develop
.env.storage.production
.env.storage.staging

# payments
.env.payments.develop
.env.payments.production
.env.payments.staging

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

